<div class="card-trip">
  <img src="https://thumbs-prod.si-cdn.com/zonBWw2E-iVJ8sHIiY5UXUe-DDc=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/c7/b9/c7b9e461-84fb-47b7-8d59-48442e20bb8a/34i_dj2019_spacexdragonart_live.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @spaceship.name %></h2>
      <p><%= @spaceship.description %></p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
