.navbar-lewagon {
  justify-content: space-between;
  background-color: #1C2535 ;
  margin-bottom: 32px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown {
  margin-left: 4px;
  padding-left: 4px;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

#test, #test1 {
  color: white;
}
